---
import Layout from "../../layouts/Layout.astro";
import { NotesPractice } from "./NotesPractice";
---

<Layout title="Notes Practice">
  <main class="m-auto p-4 w-[800px] font h-screen flex flex-col gap-4 pt-12">
    <h1 class="text-6xl font-bold mb-4 text-center">Note Name Practice</h1>
    <NotesPractice />
  </main>
</Layout>

<style is:global>
  #vf-right-answer path {
    stroke: green;
    fill: green;
  }
  #vf-wrong-answer path {
    stroke: red;
    fill: red;
  }
</style>
