---
import Layout from "../layouts/Layout.astro";
---

<Layout title="8notes">
  <main>
    <h1 class="text-6xl font-bold text-center">8note</h1>
    <div class="flex flex-col mt-8">
      <a
        href="/name-practice"
        class="bg-blue-500 text-white font-bold p-4 rounded-md hover:bg-blue-700 capitalize transition-colors duration-200 lg:text-3xl text-2xl text-center block m-4"
        >Note naming practice</a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
